* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #0f0f0f;
}

main{
    padding-top: 80px;
}
.section{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    background: #0f0f0f;
    backdrop-filter: blur(10px);

    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.container {
    width: 100%;
    max-width: 700px;
}

.titulo {
    text-align: center;
    margin-bottom: 25px;
}
 
.titulo h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 8px;
}
 
.titulo p {
    color: gray;
    font-size: 15px;
}
 
#formulario {
    background:  rgba(220, 38, 38, 0.6);
 
    padding: 35px;
 
    border-radius: 15px;
 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    flex: 1;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    background-color: #ef4444;
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(220, 38, 38, 0.6);
}

.btn-icone {
    background-color: #dc2626;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.btn-icone img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.btn-icone:hover {
    background-color: #ef4444;
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(220, 38, 38, 0.6);
}

/* CONTEÚDO */
.container {
    max-width: 600px;
    width: 100%;
    margin: 60px auto;
}

.titulo {
    text-align: center;
    margin-bottom: 25px;
}

.titulo h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 8px;
}

.titulo p {
    color: gray;
    font-size: 15px;
}

#formulario {

    max-width: 700px;
    width: 100%;
    margin: 60px auto;
    background: #18181b;
    border: 1px solid rgba(220, 38, 38, 0.4);
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 0 20px rgba(220, 38, 38, 0.15);
    margin-top: 180px;
}

form {
    display: flex;
    flex-direction: column;
}

legend {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 14px 45px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

.input-box select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #666;
}

.select-box::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;

    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    color: #666;
    pointer-events: none;
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ef4444;
}

.login-link {
    text-align: right;
    margin: 5px 0;
    height: 15px;
}

.login-link a {
    color: #ff4d4d; /* vermelho semelhante ao botão */
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.login-link a:hover {
    color: #ff6666;
    text-decoration: underline;
}
 

#btnLogar {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 8px;

    background-color: #ef4444;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

#btnLogar:hover {
    background-color: #dc2626;
}

#btnLogar i {
    margin-left: 8px;
}

.menu-hamburguer {
    display: none;

    position: fixed;

    top: 15px;
    right: 20px;

    width: 50px;
    height: 50px;

    background: rgba(220, 38, 38, 0.15);
    border: 2px solid #dc2626;
    border-radius: 12px;

    color: #ef4444;
    font-size: 1.8rem;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    backdrop-filter: blur(10px);

    transition: all 0.3s ease;

    z-index: 10000;
}

.menu-hamburguer:hover {
    background: #dc2626;

    color: white;

    transform: scale(1.08);

    box-shadow:
        0 0 15px rgba(220, 38, 38, 0.7),
        0 0 30px rgba(220, 38, 38, 0.4);
}

@media (max-width: 768px){

    .menu-hamburguer{
        display: flex;
    }

    .nav{
        display: none;
    }

    .nav.ativo{
        display: block;

        position: fixed;

        top: 80px;
        right: 0;

        width: 280px;
        height: calc(100vh - 80px);

        background: rgba(15, 15, 15, 0.98);

        backdrop-filter: blur(10px);

        border-left: 2px solid #dc2626;

        box-shadow:
            -10px 0 30px rgba(220, 38, 38, 0.15);

        z-index: 999;
    }

    .nav.ativo ul{
        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 40px;

        padding: 30px 0;
    }

    .nav.ativo a{
        width: 90%;
        text-align: center;

        border: 1px solid rgba(220, 38, 38, 0.2);
    }

   .icone {
        display: flex;
        position: fixed;
        top: 17px;
        right: 85px;
        /* fica ao lado do menu */
        width: 45px;
        height: 45px;
        z-index: 10001;
    }

    .btn-icone {
        width: 45px;
        height: 45px;
        padding: 0;
    }

    .btn-icone img {
        width: 60%;
        height: 60%;
    }

    .logo img {
        width: 180px;
        height: auto;
    }
}
