<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meu Perfil</title>

    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/perfil.css">

    <script src="../../CONTROLLER_VIEW/auth.js" defer></script>
    <script src="../../CONTROLLER_VIEW/perfil.js" defer></script>
    <script src="../JS/index.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <header>

        <section class="section">

            <div class="logo">
                <img src="./logo.png" width="220">
            </div>

            <nav class="nav" id="nav">

                <ul>

                    <li><a href="../../../index.html">HOME</a></li>
                    <li><a href="../../../index.html">SOBRE</a></li>
                    <li><a href="../../../index.html">PLANOS</a></li>
                    <li><a href="../../../index.html">CONTATOS</a></li>
                    <li><a href="./iaTreino.html">TREINO IA</a></li>
                    <li><a href="./iaPesquisa.html">IA IMAGEM</a></li>

                </ul>

            </nav>

            <div class="menu-hamburguer" id="menuHamburguer">
                ☰
            </div>

        </section>

    </header>

    <main>

        <div class="perfil">

            <h1>Meu Perfil</h1>

            <div class="card">

                <i class="fa-solid fa-circle-user"></i>

                <h2 id="nome"></h2>

                <p id="email"></p>

                <span id="perfil"></span>

            </div>

            <div class="acoes">

                <h2>Minhas ações</h2>

                <div id="usuarioArea">

                    <a href="./Atualizar_userNormal.html" class="botao">

                        <i class="fa-solid fa-user-pen"></i>

                        Alterar meus dados

                    </a>

                </div>

                <div id="admArea">

                    <a href="./cadastroAdm.html" class="botao">

                        <i class="fa-solid fa-users"></i>

                        Gerenciar Usuários

                    </a>

                </div>

            </div>

            <button id="btnSair">

                <i class="fa-solid fa-right-from-bracket"></i>

                Sair

            </button>

        </div>

    </main>

</body>

</html>